.Container {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  //   display: grid;
  //   grid-template-rows: 85vh 15vh;
  .spotify__body {
    display: grid;
    grid-template-columns: 15vw 85vw;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 1));
    background-color: rgb(32, 87, 100);
    .body {
      height: 100vh;
      width: 100%;
      overflow: auto;
      .ant-row .ant-form-item-row {
        margin-bottom: -26px !important; // default is 16px
      }
      .ant-card {
        background: rgba(243, 244, 246, 0.8);

        // opacity: 0.8;
      }
      .body__contents {
        overflow: scroll;
        padding: 2rem;
      }
      &::-webkit-scrollbar {
        width: 0.7rem;
        max-height: 2rem;
        &-thumb {
          background-color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
}

.ant-form-item {
  // margin-bottom: 4rem !important; // default is 16px
  // background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.ant-card .ant-card-cover > * {
  height: 200px !important;
}
.ant-card-hoverable {
  width: 230px !important;
  margin-bottom: 30px;
  &:hover {
    transform: scale(1.05);
    // box-shadow: 0 13px 40px -5px rgba(243, 244, 246, 0.8);
  }
}
