.Container-listsong {
  height: 15.5rem;
  overflow: scroll;

  .list {
    .header-row {
      display: grid;
      grid-template-columns: 0.3fr 3fr 2fr 1fr 0.1fr;
      margin: 1rem 0 0 0;
      position: sticky;
      color: #dddcdc;
      padding: 0.7rem;
      transition: 0.3s ease-in-out;
    }
    .tracks {
      margin: 0.5rem 0rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      .row {
        padding: 0.7rem;
        display: grid;
        grid-template-columns: 0.3fr 3fr 2fr 1fr 0.1fr;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 8px;
        }
        .col {
          display: flex;
          align-items: center;
          color: #dddcdc;
          img {
            height: 40px;
            width: 40px;
            object-fit: cover;
          }
        }
        .detail {
          display: flex;
          gap: 1rem;
          .info {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
