// thead[class*='ant-table-thead'] th {
//   //   background: linear-gradient(transparent, rgba(0, 0, 0, 1)) !important;
//   background-color: rgb(32, 87, 100) !important;
//   color: white !important;
// }
// .ant-table-wrapper .ant-table {
//   //   background: linear-gradient(transparent, rgba(0, 0, 0, 1)) !important;
//   background-color: rgb(32, 87, 100) !important;
// }

// .ant-table-tbody > tr.ant-table-row:hover > td,
// .ant-table-tbody > tr > td.ant-table-cell-row-hover {
//   background-color: rgb(32, 87, 100) !important;
// }

.Container-listsong {
  height: 14.5rem;
  overflow: auto;

  .list {
    .header-row {
      display: grid;
      grid-template-columns: 0.3fr 3fr 2fr 1fr 0.1fr;
      margin: 1rem 0 0 0;
      position: sticky;
      color: #dddcdc;
      padding: 0.7rem;
      transition: 0.3s ease-in-out;
    }
    .tracks {
      margin: 0.5rem 0rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 5rem;
      .row {
        padding: 0.7rem;
        display: grid;
        grid-template-columns: 0.3fr 3fr 2fr 1fr 0.1fr;
        &:hover {
          background-color: rgba(0, 0, 0, 0.7);
          border-radius: 8px;
        }
        .col {
          display: flex;
          align-items: center;
          color: #dddcdc;
          img {
            height: 40px;
            width: 40px;
          }
        }
        .detail {
          display: flex;
          gap: 1rem;
          .info {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
